<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!--suppress GrazieInspection -->
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.username">admin</property>
        <property name="connection.password">stdpkpass</property>
        <property name="connection.pool_size">5</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="semester5.pwjj.entities.Color"/>
        <mapping class="semester5.pwjj.entities.shapes.Shape"/>
        <mapping class="semester5.pwjj.entities.shapes.impl.Rectangle"/>
        <mapping class="semester5.pwjj.entities.shapes.impl.Triangle"/>
    </session-factory>
</hibernate-configuration>
