<!--suppress GrazieInspection, LongLine -->
<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %green(%d{yyyy-MM-dd}) %magenta(%d{HH:mm:ss.SSS}) [%-8thread] %yellow(%-5level) %cyan(%-40logger{40}) %highlight(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org" level="info"/>
</configuration>
