<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %green(%d{yyyy-MM-dd}) %magenta(%d{HH:mm:ss.SSS}) [%-8thread] %yellow(%-5level) %cyan(%-36logger{36}) %highlight(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
